.body{

    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.title {

    font-size: 18px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2em;

}

.hiperlinks{
    color: #000000;
}